:root {
  --clr-primary-200: #24222c;
  --clr-neutral: #c9c9dc;
  --clr-accent: #edeff8;
  --clr-neutral-transparant: rgb(201, 201, 220, 0.1);
  --clr-primary-400: #c9c9dc;
  --clr-neutral-100: #fff;
}
header nav {
  padding: 1.8em 0;
  background-color: rgba(36, 34, 44, 0.95);
}

.logo {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-image: url("path/to/your/logo.png");
  background-size: cover;
  margin-top: 10px;
  margin-left: 10px;
}

.navigation {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation li {
  margin-left: 15px;
}

.navigation a {
  text-decoration: none;
  color: var(--clr-neutral);
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin-right: 10px;
}

.navigation a:hover {
  background-color: var(--clr-neutral);
  color: var(--clr-primary-200);
}

.container.container--narrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.topnav {
  overflow: hidden;
  z-index: 2;
}

.topnav .icon {
  display: none;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav a:hover {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
  }

  .container.container--narrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .topnav.responsive .navigation {
    flex-direction: column;
  }

  .menu-default {
    display: none;
  }
}
