:root {
  --clr-primary-200: #F3EED9;
  --clr-primary-400: #824936;
  --clr-neutral-100: #FFF;
  --clr-neutral-900: #222C2A;
  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  margin-bottom: 1.4em;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.325rem;
  line-height: 1.6;
  background-color: var(--clr-primary-200);
}

h1,
h2,
h3 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1em;
}

img {
  display: block;
  /* images will shrink if the space is too smalll */
  max-width: 100%;
}

.text-center {
  text-align: center;
}

section {
  padding: 3rem 0;
}


h1 {
  padding-top: 1rem;
}

.container {
  margin-inline: auto;
  /*lef and right margin only*/
  width: min(90%, 70.5rem)
}

.container--narrow {
  max-width: 35rem;
}

.split {
  display: flex;
  flex-direction: column;
  /*resetting flexbox*/
}

.action-button {
  padding: 1.8em;
  color: var(--clr-neutral-100);
  font-weight: 900;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  text-align: center;
  border: none;
}

.action-button:hover {
  background-color: var(--clr-neutral-900);
}

.bg-light {
  background-color: var(--clr-primary-200);
}

.bg-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}

.topnav {
  overflow: hidden;
  z-index: 2;
}

.topnav a {
  float: left;
  display: block;
  color: var(--clr-neutral-100);
  text-align: center;
  padding: 2em 1em;
  text-decoration: none;
  font-size: 1.0625em;

}

.topnav a:hover {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  ;
}

.topnav a.active {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

.topnav .icon {
  display: none;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-inline: auto;

}

.design {
  display: inline-block;
  height: calc(100vw / 7 * 0.4375);
  /* 7/16 of the width of 1/7th of the viewport width */
}

.design--1 {
  background-color: none;
}

.design--2 {

  background-image: url("../img/design-2.png");
  background-position: center center;
  background-size: cover;

}

.design--3 {
  background-color: none;
}

.design--4 {
  background-image: url("../img/design-0.png");
  background-position: center center;
  background-size: cover;

}

.design--5 {
  background-image: url("../img/design-1.png");
  background-position: center center;
  background-size: cover;
}

.design--6 {
  background-color: none;
}

.design--7 {
  background-image: url("../img/design-2.png");
  background-position: center center;
  background-size: cover;
}

.design--8 {
  background-image: url("../img/design-3.png");
  background-position: center center;
  background-size: cover;
}

.design--9 {
  background-image: url("../img/design-4.png");
  background-position: center center;
  background-size: cover;
}

.design--10 {
  background-image: url("../img/design-5.png");
  background-position: center center;
  background-size: cover;
}

.design--11 {
  background-image: url("../img/design-6.png");
  background-position: center center;
  background-size: cover;
}

.design--12 {
  background-image: url("../img/design-7.png");
  background-position: center center;
  background-size: cover;
}

.design--13 {
  background-image: url("../img/design-8.png");
  background-position: center center;
  background-size: cover;
}

.design--14 {
  background-image: url("../img/design-9.png");
  background-position: center center;
  background-size: cover;
}

.design--15 {
  background-image: url("../img/design-10.png");
  background-position: center center;
  background-size: cover;
}

.design--16 {
  background-color: none;
}

.design--17 {
  background-image: url("../img/design-11.png");
  background-position: center center;
  background-size: cover;
}

.design--18 {
  background-image: url("../img/design-12.png");
  background-position: center center;
  background-size: cover;
}

.design--19 {
  background-color: none;
}

.design--20 {
  background-image: url("../img/design-13.png");
  background-position: center center;
  background-size: cover;
}

.design--21 {
  background-image: url("../img/design-14.png");
  background-position: center center;
  background-size: cover;
}

.remove-top-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.text-dark {
  color: var(--clr-primary-400);
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color: var(--clr-neutral-900);
  }


  .topnav a:hover {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    ;
  }


  /* New CSS for mobile */
  .backgroundimg {
    position: relative;
  }

  .container.container--narrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }


}

@media (min-width:40em) {
  section {
    padding: 7rem 0;
  }

  h1 {
    padding-top: 7rem;
  }

  .container--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

@media (min-width:40em) {

  /* 
    em is more consisten between browsers then pixels
    source: https://zellwk.com/blog/media-query-units/
  */
  .split {
    flex-direction: row;
  }

  .split>* {
    flex-basis: 100%;
  }

  /* all direct children of split flex shrinks them because they want to be 100% and have the same size */

  .split>*+* {
    margin-left: 2em;
  }

  /* to select every element that has something before it */


}

.backgroundimg {
  background-image: url(../img/headerimg.png);
  height: 100vh;
  /* div takes height of img */
  background-size: cover;
  background-position: center;
}