<div class="footer-container">
  <div class="footer-nav-area body-wrapper">
    <div class="col col-info">
      <h4><strong>Recruiters AI</strong></h4>
      <p>
        <strong
          >Legendary Custom AI Automations For Recruitment and Staffing
        </strong>
      </p>
    </div>
    <div class="col col-menu">
      <p class="dropdown-toggle" onclick="toggleDropdownMenu('menu1')">
        Product
      </p>
      <ul class="menu menu-default" id="menu1">
        <li><a href="/features.html">Features</a></li>
        <!-- <li><a href="/faq.html">Faq</a></li> -->
        <li><a href="/pricing.html">Affiliate</a></li>
      </ul>
    </div>
    <!-- <div class="col col-menu">
        <p class="dropdown-toggle" onclick="toggleDropdownMenu('menu2')">Legal</p>
        <ul class="menu menu-default" id="menu2">
          <li><a href="/terms-and-conditions.html">Terms of Service</a></li>
          <li><a href="/privacy.html">Privacy</a></li>
          <li><a href="/cookies.html">Cookies</a></li>
        </ul>
      </div> -->
    <div class="col col-menu">
      <p class="dropdown-toggle" onclick="toggleDropdownMenu('menu3')">
        About us
      </p>
      <ul class="menu menu-default" id="menu3">
        <li><a href="/company.html">Company and Vision</a></li>
        <li><a href="/pricing.html">Pricing</a></li>
        <!-- <li><a href="/career.html">Career</a></li> -->
      </ul>
    </div>
    <!-- <div class="col col-menu col-last">
        <p class="dropdown-toggle" onclick="toggleDropdownMenu('menu4')">Support</p>
        <ul class="menu menu-default" id="menu4">
          <li><a href="./docs.html">Documentation</a></li>
          <li><a href="">Facebook Group</a></li>
          <li><a href="/support.html">Contact Us</a></li>
          <li><a href="">API</a></li>
        </ul>
      </div> -->
  </div>
  <p class="copyright body-wrapper">
    © 2023 Recruiters-AI INC. All rights reserved.
  </p>
</div>
