<nav class="topnav" id="topnav">
  <div class="body-wrapper">
    <div class="container--nav navigation">
      <a href="./" class="tab" id="home-tab" onclick="ResponsiveNavMenu()">
        <img src="./img/logo.png" alt="Recruiters AI Logo" />
      </a>
      <a
        href="./features.html"
        id="features-tab"
        class="tab"
        onclick="ResponsiveNavMenu()"
        >Features</a
      >
      <a
        href="./pricing.html"
        id="pricing-tab"
        class="tab"
        onclick="ResponsiveNavMenu()"
        >Pricing</a
      >
      <a
        href="./company.html"
        id="company-tab"
        class="tab"
        onclick="ResponsiveNavMenu()"
        >Company</a
      >
      <a
        href="./info.html"
        id="services-tab"
        class="tab"
        onclick="ResponsiveNavMenu()"
        >Services</a
      >
      <a href="javascript:void(0);" class="icon" onclick="ResponsiveNavMenu()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
</nav>
