<nav class="topnav" id="topnav">
  <div class="container container--nav navigation">
    <a href="/" class="active" onclick="ResponsiveNavMenu()">
      <img src="../img/logo.png" alt="Recruiters AI Logo" />
    </a>
    <a href="/features.html" onclick="ResponsiveNavMenu()">Features</a>
    <a href="/pricing.html" onclick="ResponsiveNavMenu()">Pricing</a>
    <a href="/company.html" onclick="ResponsiveNavMenu()">Company</a>
    <!-- <a href="/support.html" onclick="ResponsiveNavMenu()">Support</a> -->
    <a href="javascript:void(0);" class="icon" onclick="ResponsiveNavMenu()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>
